#logo {
	font-size:3em;
	font-weight:600;
	margin-top:20px;
	margin-bottom:10px;
}

.gg a {
	background-color: yellow;
}

#logo a, #logo a:hover {
	text-decoration:none;
	color:black;
	background-color:white;
}

#menubar {
	border:1px;
	border-top-style:solid;
	border-bottom-style:solid;
	padding-top:3px;
	padding-bottom:3px;
}

#menubar a {
	text-decoration:none;
}

.gg {
	border:1px;
	color:black;
	font-style:italic;
	background-color:#C1E00D;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	margin:1px;
	border-radius:10px;
	/* box shadow */
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.1);
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

