<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Team:</b>
  <%= @player.team_id %>
</p>

<p>
  <b>Description:</b>
  <%= @player.description %>
</p>

<p>
  <b>Url:</b>
  <%= @player.url %>
</p>

<p>
  <b>Twitter:</b>
  <%= @player.twitter %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
