<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :game_time %><br />
    <%= f.datetime_select :game_time %>
  </div>
  <div class="field">
    <%= f.label :betting_close_time %><br />
    <%= f.datetime_select :betting_close_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
