<h2>MATCH OF THE DAY</h2>

<h2>ALL MATCHES</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Game time</th>
    <th>Betting close time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.name %></td>
    <td><%= match.description %></td>
    <td><%= match.game_time %></td>
    <td><%= match.betting_close_time %></td>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Edit', edit_match_path(match) %></td>
    <td><%= link_to 'Destroy', match, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match', new_match_path %>
