<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @match.name %>
</p>

<p>
  <b>Description:</b>
  <%= @match.description %>
</p>

<p>
  <b>Game time:</b>
  <%= @match.game_time %>
</p>

<p>
  <b>Betting close time:</b>
  <%= @match.betting_close_time %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
