<!DOCTYPE html>
<html>
<head>
  <title>Gambit</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "gambit" %>  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="logo"><%= link_to 'GG!', root_path, :class => 'gg'%><%= link_to ' gambit gaming', root_path %></div>
<br />
<div id="menubar">
<%= link_to 'MATCHES', matches_path %>
<%= link_to 'PLAYERS', players_path %>
<%= link_to 'ADMIN CONSOLE', matches_admin_path %>
</div>

<%= yield %>

</body>
</html>
